{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "rules": {
        "no-tabs": "off",
        "no-plusplus": "off",
        "no-unused-vars": "warn"
    }
}