body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}
a {
  display: block;
  text-decoration: none;
  color: #394b50;
  transition: all 0.3s;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15.2% 20px 15.2%;
}
nav img {
  width: 45px;
  height: 43.2px;
}
nav ul {
  padding: 6px 0 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a {
  padding: 10px 17.7px 0 17.7px;
  border-radius: 2px;
  letter-spacing: 0.3px;
}
nav a:hover {
  color: white;
  background-color: #ffc155;
  transition: all 0.3s;
}
nav li {
  text-transform: uppercase;
  font-size: 0.7rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 195%;
  font-family: 'Muller ExtraBold DEMO';
}
h2 {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 167%;
  font-family: 'Muller ExtraBold DEMO';
}
h4 {
  font-weight: lighter;
  font-size: 92%;
  letter-spacing: 0.3px;
}
h1,
h2,
h4 {
  margin: 0;
  text-align: center;
}
button {
  text-transform: uppercase;
  background-color: #ffc155;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: #ffae22;
  border-radius: 10px;
  transition: all 0.3s;
}
input {
  margin-right: 9px;
  border: none;
  border-radius: 2px;
  padding-left: 30px;
  box-sizing: border-box;
  background-position: 12px;
  background-repeat: no-repeat;
}
footer {
  padding: 14px 0 14px 0;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  background-color: #709dca;
}
#home {
  width: 100%;
  height: 530px;
  box-sizing: border-box;
  padding: 93px 15.2% 0 15.2%;
  background-color: #709dca;
}
.home__form {
  margin-top: 30px;
}
.home__form input {
  width: 253px;
}
.home__form button {
  width: 190px;
  margin-right: 6px;
}
#services {
  width: 100%;
  box-sizing: border-box;
  padding: 177px 15.2% 137px 15.2%;
}
.service__container {
  margin-top: 16px;
}
.service__container_item {
  flex-basis: 47.5%;
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}
.service__container_item p {
  margin-top: -1px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.service__img {
  width: 15%;
}
.service__img img {
  height: 42px;
}
.service__item-text {
  width: 85%;
  font-size: 0.75rem;
  line-height: 20px;
  letter-spacing: 0.4px;
}
#about-us {
  display: flex;
  flex-direction: row;
  background-color: #ffc155;
}
.about-us__part {
  flex-basis: 50%;
  padding: 141px 15.2% 158px 71px;
  box-sizing: border-box;
}
.about-us__part h2 {
  text-align: left;
}
.about-us__part p {
  margin-top: 13px;
  font-size: 0.7rem;
  line-height: 22px;
  letter-spacing: 0.4px;
}
.about-us__part button {
  margin-top: 15px;
  padding: 13px 6.1% 13px 6.1%;
  box-shadow: 0 0 1px #394b50;
  font-size: 0.75rem;
}
.about-us__left-part {
  background-image: url(../img/bg-about-us.png);
}
#pricing-table {
  padding: 117px 15.2% 148px 15.2%;
  background-color: #e7edf3;
}
.pricing-table__container {
  margin-top: 71px;
}
.pricing-table__container_item {
  flex-basis: 33%;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s;
}
.pricing-table__container_item:hover {
  background-color: #709dca;
  flex-basis: 34%;
  height: 450px;
  margin-top: -26px;
  transition: all 0.3s;
}
.pricing-table__container_item:hover h3,
.pricing-table__container_item:hover h4,
.pricing-table__container_item:hover li,
.pricing-table__container_item:hover .price-block {
  color: white;
}
.pricing-table__container_item h3 {
  margin-top: 8px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
}
.pricing-table__container_item h4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: -4px;
  letter-spacing: 0.2px;
}
.pricing-table__container_item ul {
  margin-top: 28px;
  padding: 0 7% 0 7%;
}
.pricing-table__container_item li {
  padding: 11px 0 11px 0;
  text-transform: uppercase;
  border-top: 1px solid #b5bbc1;
  color: #b5bbc1;
  text-align: center;
  font-size: 0.75rem;
}
.pricing-table__container_item button {
  margin: 18px 33% 0 33%;
  padding: 12px 0 12px 0;
  font-size: 0.75rem;
}
.price-block {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffc155;
}
.price-block__currency {
  font-size: 1.9rem;
}
.price-block__digit {
  font-size: 3.3rem;
}
#how-it-works {
  padding: 133px 15.2% 0 15.2%;
}
.how-it-works__container {
  justify-content: space-around;
  margin-top: 100px;
}
.how-it-works__container_item {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #394b50;
}
.how-it-works__container_item h3 {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 81px;
  margin-bottom: 3px;
}
.how-it-works__container_item p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 20px;
}
.how-it-works__button-container {
  display: flex;
  justify-content: center;
  margin-top: 67px;
  margin-bottom: 135px;
}
.how-it-works__button-container button {
  padding: 12px 20px 12px 20px;
}
#clients {
  padding: 121px 15.2% 142px 15.2%;
  background-color: #ffc155;
}
.comment__container {
  margin-top: 33px;
}
.comment__container_item {
  display: flex;
  flex-direction: row;
  flex-basis: 48.4%;
  background-color: white;
  border-radius: 2px;
  margin-top: 18px;
  padding-top: 38px;
  padding-bottom: 42px;
}
.worker-photo {
  flex-basis: 22%;
  margin-left: 5%;
}
.worker-photo img {
  width: 100%;
}
.comment-text {
  flex-basis: 62%;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: #394b50;
}
.comment-text p {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.quotes {
  color: #394b50;
  font-size: 2.1rem;
}
.quotes-1 {
  flex-basis: 3.3%;
  margin-left: 2%;
}
.quotes-2 {
  transform: scaleY(-1);
  margin-left: 41%;
  margin-top: -15px;
}
.quotes-3 {
  transform: scaleY(-1);
  margin-left: 56%;
  margin-top: -15px;
}
.worker-name-post {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin-top: -10px;
}
.worker-name-post p {
  margin: 0;
  font-size: 0.75rem;
}
.worker-name {
  color: #ffc155;
}
.worker-post {
  color: #b5bbc1;
}
#newsletter {
  padding: 133px 15.2% 44px 15.2%;
}
.newsletter__form {
  margin-top: 33.5px;
}
.newsletter__form input {
  border: 1px solid #b5bbc1;
}
.newsletter__form .input__name {
  width: 275px;
}
.newsletter__form .input__email {
  width: 350px;
}
.newsletter__form button {
  width: 195px;
  margin-right: 6px;
}
.newsletter__map {
  height: 493px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: center no-repeat url("../img/newsletter-map.png");
  background-size: 990px 100%;
}
.newsletter__map img {
  width: 45px;
  height: 43.2px;
}
.newsletter__address-container {
  width: 260px;
  height: 270px;
  margin-top: 33px;
  background: no-repeat url("../img/address-circle-bg.png");
  background-size: 100% 100%;
}
.newsletter__address-container h4 {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 59.5px;
}
.newsletter__address-container p {
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #b5bbc1;
}
.newsletter__address-container a {
  text-align: center;
  font-size: 0.7rem;
  color: #ffc155;
  letter-spacing: 0.4px;
}
.newsletter__address-container a:hover {
  color: white;
  transition: all 0.3s;
}
.newsletter__nav {
  margin-top: 52px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #b5bbc1;
}
.newsletter__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newsletter__nav a {
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  letter-spacing: 0.3px;
}
.newsletter__nav a:hover {
  color: white;
  background-color: #ffc155;
  transition: all 0.3s;
}
.newsletter__nav li {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.newsletter__phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.newsletter__phone img {
  height: 16px;
  margin-top: 5px;
}
.newsletter__phone p {
  margin: 0;
  font-size: 1.3rem;
  color: #394b50;
}
.newsletter__soc-networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.newsletter__soc-networks a {
  color: #709dca;
}
.newsletter__soc-networks a:hover {
  color: #ffc155;
}
.font-light {
  color: white;
}
.font-dark {
  color: #394b50;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 42px;
}
.img-container {
  text-align: center;
}
.img-container img {
  height: 55px;
}
.input__name {
  background-image: url(../img/name-icon.png);
}
.input__email {
  background-image: url(../img/email-icon.png);
}
.input__phone {
  background-image: url(../img/phone-icon-top.png);
}
.fa {
  margin-left: 5px;
  margin-right: 5px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a .icon {
  display: none;
}
.topnav a .active {
  background-color: #4CAF50;
  color: white;
}
@media screen and (max-width: 600px) {
  .icon {
    display: block;
  }
}
