// compress: false

@import "modules/vars";

body {
    margin: 0;
    padding: 0 @body-padding 0 @body-padding;
    background-color: @bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;

    & when(@bg-color =black) {
        color: white;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.nav__img {
    width: 45px;
    height: 43.2px;
}

.nav__ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;

    li {
        text-transform: uppercase;
    }
}