#home {
    width: 100%;
    height: @block-home-height;
    box-sizing: border-box;
    padding: 93px @block-padding 0 @block-padding;
    background-color: @blue-color;
}

.home__form {
    margin-top: 30px;

    input {
        width: 253px;
    }

    button {
        width: 190px;
        margin-right: 6px;
    }
}